.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--modal-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: var(--primary-light);
  border-radius: 8px;
  width: 335px;
  padding: 24px;
  box-shadow: 0 4px 20px var(--modal-overlay);
  position: relative;
  border: 1px solid var(--primary-main);
}

.closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  stroke: var(--text-primary);
}

.closeIcon {
  width: 18px;
  height: 18px;
}
.modalTitle {
  color: var(--text-primary);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
  margin-bottom: 24px;
}
.imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.imageUpload img {
  width: 68px;
  height: 68px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.userAvatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--primary-light);
  cursor: pointer;
}

.avatarIcon {
  width: 68px;
  height: 68px;
  fill: var(--text-primary);
  border: 1px solid var(--primary-main);
  border-radius: 8px;
  cursor: pointer;
}
.uploadButton {
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-sidebar-btn);
  border: none;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease, border 0.3s ease;
}

.plusIcon {
  width: 10px;
  height: 10px;
  stroke: var(--text-primary);
}
.plusIcon:hover,
.plusIcon:focus {
  stroke: var(--text-primary);
  background-color: var(--btn-hover);
}
.form {
  display: flex;
  flex-direction: column;
}

.inputField {
  display: inline-flex;
  padding: 14px 18px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--primary-main);
  opacity: 0.4;
  background: var(--background-paper);
  box-shadow: 0 4px 16px 0 var(--charcoal-shadow);
  width: 100%;
  margin-bottom: 14px;
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  outline: none;
  transition: opacity 0.3s ease, border 0.3s ease;
}
.inputField:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--charcoal) inset;
  box-shadow: 0 0 0 30px var(--charcoal) inset;
  -webkit-text-fill-color: var(--white);
  caret-color: var(--white);
  transition: background-color 5000s ease-in-out 0s;
}
.form .inputField:focus,
.form .inputField:hover,
.form .inputField:active {
  opacity: 1;
}

.error {
  color: var(--label-pink);
  font-size: 12px;
  margin-bottom: 10px;
  transform: translateY(-50%);
  z-index: 100;
}

.modalButton {
  border-radius: 8px;
  background: var(--modal-btn);
  padding: 14px;
  color: var(--modal-btn-text);
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  transition: opacity 0.3s ease, border 0.3s ease;
  width: 100%;
}

.modalButton:hover,
.modalButton:focus {
  background-color: var(--btn-hover);
}

@media (min-width: 768px) {
  .modal {
    width: 400px;
  }
}

@media (min-width: 1440px) {
}
