.form {
  min-width: 302px;
  max-width: 336px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: var(--modal-bg);
}

.label {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.input {
  padding: 14px 18px;
  color: var(--text-primary);
  outline: none;
  border: 1px solid var(--modal-input-border);
  opacity: 0.4;
  border-radius: 8px;
  background-color: var(--modal-bg);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.input:focus,
.input:hover {
  opacity: 1;
}

.error {
  color: var(--label-pink);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.02em;
}

.button {
  padding: 10px;
  background-color: var(--modal-btn);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button:focus,
.button:hover {
  background-color: var(--hover-modal-btn);
}

.icon {
  padding: 7px;
  background-color: var(--modal-icon-wrap);
  border-radius: 6px;
  stroke: var(--modal-plus-icon);
}

.text {
  color: var(--modal-btn-text);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

@media (min-width: 768px) {
  .form {
    min-width: 336px;
    max-width: 350px;
  }
}
