.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--modal-overlay);
  z-index: 1001;
}
.divCard {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 335px;
  min-width: 300px;
  border-radius: 8px;
  padding: 24px;
  background: var(--modal-bg);
  color: var(--text-primary);
  font-family: 'Poppins', sans-serif;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.iconClose {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 14px;
  right: 14px;
  stroke: var(--text-primary);
}
.textNew {
  font-size: 18px;

  text-align: left;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.titleInput:hover {
  opacity: 1;
  border: 1px solid var(--btn-and-hover-color);
}

.titleInput:focus {
  opacity: 1;
  outline: 1px solid var(--input-border-color);
}

.textIcons {
  font-size: 14px;
  text-align: left;
  margin-bottom: 14px;
}
.listDarkIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  margin-bottom: 24px;
}
.listColorIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  width: 256px;
  margin-bottom: 40px;
}
.listItem {
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  background-color: aqua;
  border: 1px solid #000;
  border-radius: 6px;
  margin: 2px;
}
.listItemActive {
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border: 3px solid #bedbb0;
  border-radius: 6px;
  margin: 2px;
}

.serIcons {
  width: 18px;
  height: 18px;
  margin: 4px;
  fill: none;
  stroke: var(--bg-icon);
}

.darkIcons {
  width: 18px;
  height: 18px;
  margin: 4px;
  fill: none;
  stroke: var(--text-primary);
}
.textBackground {
  color: var(--text-primary-color);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  margin-bottom: 14px;
}
.mainButton {
  display: flex;
  width: 90%;
  min-width: 256px;
  max-width: 287px;
  padding: 10px 0px 11px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--btn);
  color: var(--btn-add-color);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}
.plusBtnOff {
  background-color: var(--btn-add-color);
  border-radius: 4px;
  width: 28px;
  height: 28px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listDarkIcons li {
  position: relative;
  width: 26px;
  height: 26px;
}

.plusIcon {
  stroke: var(--modal-plus-icon);
  width: 14px;
  height: 14px;
}

.img_back {
  border-radius: 5px;
}
.inputBtnIcons {
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 4px;
  z-index: -1;
}

.inputBtnIcons:checked .darkIcons {
  color: red;
}

.buttonIcons {
  z-index: 999;
}
.buttonBack {
  width: 100%;
  height: 100%;
}

.inputRad {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
}

.inputBack {
  position: absolute;
  cursor: pointer;
  width: 26px;
  height: 26px;
  z-index: 999;
  opacity: 0;
}

.svgIcon {
  fill: var(--inactive-icon-color);
  stroke: var(--inactive-icon-border-color);
  transition: fill 0.2s, stroke 0.2s;
}

.inputRad:checked + .svgIcon {
  fill: var(--active-icon-color);
  stroke: var(--active-icon-color);
}

.addBtnIcon {
  width: 20px;
  height: 20px;
  fill: var(--modal-plus-icon);
  stroke: var(--modal-plus-icon);
}
