.icon {
  color: var(--board-icons);
  transition: color 0.3s ease;
}

.icon :hover,
.icon.active {
  color: var(--board-icons-active);
}

.icon svg {
  width: 100%;
  height: 100%;
}

.icon path {
  stroke: currentColor;
  transition: stroke 0.3s ease;
}
