.icon {
  color: var(--half-white);
  transition: color 0.3s ease;
}

.icon :hover,
.icon.active {
  color: var(--white);
}

.icon.light {
  color: var(--charcoal-haze);
}

.icon.light:hover,
.icon.light.active {
  color: var(--almost-black);
}

.icon svg {
  width: 100%;
  height: 100%;
}

.icon path {
  stroke: currentColor;
  transition: stroke 0.3s ease;
}
