.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userName {
  color: var(--text-primary);
}

.imgBox {
  overflow: hidden;
}

.avatarIcon {
}

.userAvatar {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
