.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userName {
  color: var(--text-primary);
  cursor: pointer;
}

.imgBox {
  overflow: hidden;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
}

.avatarIcon {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  object-fit: cover;
  
}

.userAvatar {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  object-fit: cover;
}
