.title {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-primary);
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 212px;
}

@media screen and (min-width: 320px) {
  .form {
    width: 287px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 352px;
  }
}

.input {
  font-size: 14px;
  color:  var(--text-primary);
  border: 1px solid var(--primary-main-transparent);
  border-radius: 8px;
  padding: 14px 18px;
  height: 49px;
  background-color: transparent;
  transition: border var(--transition-time) var(--transition-func);
}

.input::placeholder {
  font-size: 14px;
  color: var(--text-secondary);
  transition: color var(--transition-time) var(--transition-func);
}

.input:hover,
.input:focus,
.input:active {
  border-color: var(--primary-main);
}

.input:hover::placeholder,
.input:focus::placeholder,
.input:active::placeholder {
  color: var(--text-primary);
}

.comment {
  resize: none;
  height: 120px;
}

.error {
  font-size: 14px;
  color: #FF4D4F;
}

.form-button {
  font-size: 14px;
  font-weight: 500;
  color: var(--modal-btn-text);
  background-color: var(--btn);
}

.form-button:hover,
.form-button:focus,
.form-button:active{
  background-color: var(--btn-hover);
}
