.column {
  padding: 20px 20px 24px 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-paper);
  gap: 14px;
  width: 100vw;
  height: 100vh;
  max-width: 336px;
}

.wrapper {
  padding: 18px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background-default);
}

.title {
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.icon {
  background-color: transparent;
  stroke: var(--text-primary);
  opacity: 0.5;
}

.button {
  padding: 10px;
  background-color: var(--btn);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button:focus,
.button:hover {
  background-color: var(--btn-hover);
}

.plus {
  padding: 7px;
  background-color: var(--modal-icon-wrap);
  border-radius: 6px;
  stroke: var(--modal-plus-icon);
}

.text {
  color: var(--button-text);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
}
