.column {
  padding: 0 0 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  gap: 14px;
  max-width: 280px;
  width: 100vw;
  height: calc(100vh - 160px);
}

.wrapper {
  padding: 18px 20px;
  max-width: 268px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--add-column-bg);
  border-radius: 8px;
  height: 56px;
}

.title {
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.buttons {
  background-color: transparent;
  border: transparent;
  outline: transparent;
  padding: 0;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.icon {
  stroke: var(--text-primary);
  fill: transparent;
  opacity: 0.5;
  padding: 0;
}

@media screen and (min-width: 375px) {
  .wrapper {
    max-width: 335px;
  }

  .column {
    max-width: 350px;
  }
}
