:root {
  --primary-light: #fcfcfc;
  --primary-main: #bedbb0;
  --primary-main-transparent: rgba(190, 219, 176, 0.4);
  --primary-dark: #0b5c15;
  --primary-contrastText: rgba(22, 22, 22, 0.1);
  --secondary-main: rgba(22, 22, 22, 0.1);
  --background-default: #fff;
  --background-paper: #fcfcfc;
  --text-primary: #161616;
  --text-secondary: rgba(22, 22, 22, 0.8);
  --placeholder: rgb(22, 22, 22, 0.4);

  --bg-scroll-track: #e8e8e8;

  --accent-sidebar: #f6f6f7;
  --accent-sidebar-color: #161616;
  --accent-sidebar-btn: #bedbb0;
  --sidebar-light: rgba(22, 22, 22, 0.5);
  --plus-sidebar-icon: #121212;
  --hover-sidebar-btn: #9dc888;
  --hover-sidebar-element: #bedbb0;
  --help-hover: #9dc888;
  --bg-scroll: #e8e8e8;

  --bg-screen: #f6f6f7;
  --label-blue: #8fa1d0;
  --label-pink: #e09cb5;
  --label-green: #bedbb0;
  --label-grey: rgba(22, 22, 22, 0.3);

  --button-text: #161616;
  --bg-scroll: rgba(22, 22, 22, 0.1);
  --bottom-scroll: #fff;
  --bg-scroll-thumb: rgba(22, 22, 22, 0.1);
  --stroke-btn: #fff;

  --modal-overlay: rgba(21, 21, 21, 0.3);
  --modal-bg: #fcfcfc;
  --modal-input-border: #bedbb0;
  --modal-btn: #bedbb0;
  --hover-modal-btn: #9dc888;
  --modal-btn-text: #161616;
  --modal-cross-icon: #161616;
  --modal-cross-icon-hover: rgb(22, 22, 22, 0.5);
  --modal-border: transparent;
  --modal-plus-icon: #fff;
  --modal-icon-wrap: #161616;

  --loader-color: #9dc888;

  --drop-down-text: #161616;
  --btn: #bedbb0;
  --btn-hover: #9dc888;
  --btn-add-color: #161616;
  --bg-modal: #fff;

  --logo-icon-wrapper: #1f1f1f;
  --logo-icon: #fff;
  --logo-title: #161616;

  --board-icons: rgba(22, 22, 22, 0.5);
  --board-icons-active: rgba(22, 22, 22, 1);

  --add-column-bg: #fff;
  --add-column-icon: #161616;
  --add-column-plus: #ffffff;
  --add-column-text: #161616;
  --dropdown-menu-bg: #fcfcfc;
  --calendar-bg: #fff;
  --disabled-day-calendar: rgba(22, 22, 22, 0.2);
  --selected-day-calendar-text-color: #161616;

  --bg-empty-board: #f6f6f7;
  --accent-empty-board: #bedbb0;

  --board-list-text: rgba(22, 22, 22, 0.5);
  --board-list-text-active: #161616;

  --help-text: #161616;
  --help-text-span: #bedbb0;

  --logout-icon: #bedbb0;
  --logout-icon-hover: #9dc888;
  --logout-text: #161616;

  --filter-bg: #fcfcfc;
  --filter-text: rgba(22, 22, 22, 0.5);
  --filter-text-accent: #161616;
  --filter-border: rgba(22, 22, 22, 0.1);
  --filter-close: rgba(22, 22, 22, 0.05);
}

[data-theme='dark'] {
  --primary-light: #161616;
  --primary-main: #bedbb0;
  --primary-main-transparent: rgba(190, 219, 176, 0.4);
  --primary-dark: #1b1c21;
  --primary-contrastText: rgba(255, 255, 255, 0.1);
  --secondary-main: rgba(255, 255, 255, 0.1);
  --background-default: #121212;
  --background-paper: #161616;
  --text-primary: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.8);
  --placeholder: rgb(255, 255, 255, 0.4);
  --accent-sidebar: #1f1f1f;
  --plus-sidebar-icon: #121212;
  --accent-sidebar-color: #fff;
  --accent-sidebar-btn: #bedbb0;
  --hover-sidebar-btn: #9dc888;
  --sidebar-light: rgba(255, 255, 255, 0.5);
  --hover-sidebar-element: #bedbb0;
  --help-hover: #9dc888;
  --bg-screen: #1f1f1f;

  --button-text: #161616;
  --bg-scroll: #121212;
  --bg-scroll-track: rgba(255, 255, 255, 0.1);
  --bottom-scroll: #121212;
  --bg-scroll-thumb: rgba(255, 255, 255, 0.1);
  --stroke-btn: #fff;

  --modal-overlay: rgba(21, 21, 21, 0.5);
  --modal-bg: #151515;
  --modal-input-border: #bedbb0;
  --modal-btn: #bedbb0;
  --hover-modal-btn: #9dc888;
  --modal-btn-text: #161616;
  --modal-cross-icon: #ffffff;
  --modal-cross-icon-hover: rgb(255, 255, 255, 0.5);
  --modal-border: rgba(190, 219, 176, 0.4);
  --modal-plus-icon: #fff;
  --modal-icon-wrap: #161616;

  --loader-color: #9dc888;

  --drop-down-text: rgba(255, 255, 255, 0.5);
  --btn: #bedbb0;
  --btn-hover: #9dc888;
  --btn-add-color: #161616;
  --bg-modal: #151515;

  --logo-icon-wrapper: #1f1f1f;
  --logo-icon: #fff;
  --logo-title: #fff;

  --board-icons: rgba(255, 255, 255, 0.5);
  --board-icons-active: rgba(255, 255, 255, 1);

  --add-column-bg: #121212;
  --add-column-icon: #ffffff;
  --add-column-plus: #121212;
  --add-column-text: #ffffff;
  --dropdown-menu-bg: #1f1f1f;
  --calendar-bg: #1f1f1f;
  --disabled-day-calendar: rgba(255, 255, 255, 0.2);
  --selected-day-calendar-text-color: #1f1f1f;

  --bg-empty-board: #1f1f1f;
  --accent-empty-board: #bedbb0;

  --board-list-text: rgba(255, 255, 255, 0.5);
  --board-list-text-active: #ffffff;

  --help-text: #ffffff;
  --help-text-span: #bedbb0;

  --logout-icon: #bedbb0;
  --logout-icon-hover: #9dc888;
  --logout-text: #ffffff;

  --filter-bg: #151515;
  --filter-text: rgba(255, 255, 255, 0.5);
  --filter-text-accent: #fff;
  --filter-border: rgba(255, 255, 255, 0.1);
  --filter-close: #ffffff;
}

[data-theme='violet'] {
  --primary-light: #fff;
  --primary-main: #5255bc;
  --primary-main-transparent: rgba(82, 85, 188, 0.4);
  --primary-dark: #b8bcfd;
  --primary-contrastText: rgba(255, 255, 255, 0.1);
  --secondary-main: rgba(22, 22, 22, 0.1);
  --background-default: #5255bc;
  --background-paper: #fff;
  --text-primary: #161616;

  --text-secondary: rgba(22, 22, 22, 0.8);
  --accent-sidebar: rgba(236, 237, 253, 0.4);
  --plus-sidebar-icon: #fff;
  --accent-sidebar-color: #fff;
  --accent-sidebar-btn: #b8bcfd;
  --hover-sidebar-btn: #979cea;
  --sidebar-light: rgba(255, 255, 255, 0.5);
  --hover-sidebar-element: #fff;
  --help-hover: #5255bc;
  --bg-screen: #ecedfd;
  --placeholder: rgb(22, 22, 22, 0.4);

  --button-text: #fff;
  --bg-scroll: #b8bcfd;
  --bg-scroll-track: #fff;
  --bottom-scroll: #fff;
  --bg-scroll-thumb: #b8bcfd;
  --stroke-btn: #161616;

  --modal-overlay: rgba(21, 21, 21, 0.3);
  --modal-bg: #fcfcfc;
  --modal-input-border: #b8bcfd;
  --modal-btn: #5255bc;
  --hover-modal-btn: #7b7ede;
  --modal-btn-text: #fff;
  --modal-cross-icon: #161616;
  --modal-cross-icon-hover: rgb(22, 22, 22, 0.5);
  --modal-border: transparent;
  --modal-plus-icon: #161616;
  --modal-icon-wrap: #fff;

  --loader-color: #5255bc;

  --drop-down-text: #161616;
  --btn: #5255bc;
  --btn-hover: #7b7ede;
  --btn-add-color: #fff;
  --bg-modal: #fff;

  --logo-icon-wrapper: #ecedfd;
  --logo-icon: #5255bc;
  --logo-title: #fff;

  --board-icons: rgba(22, 22, 22, 0.5);
  --board-icons-active: rgba(22, 22, 22, 1);

  --add-column-bg: #fff;
  --add-column-icon: #5255bc;
  --add-column-plus: #ffffff;
  --add-column-text: #161616;
  --dropdown-menu-bg: #fcfcfc;
  --calendar-bg: #fff;
  --disabled-day-calendar: rgba(22, 22, 22, 0.2);
  --selected-day-calendar-text-color: #fcfcfc;

  --bg-empty-board: #ecedfd;
  --accent-empty-board: #5255bc;

  --board-list-text: rgba(255, 255, 255, 0.5);
  --board-list-text-active: #ffffff;

  --help-text: #ffffff;
  --help-text-span: #5255bc;

  --logout-icon: #ffffff;
  --logout-icon-hover: #b8bcfd;
  --logout-text: #ffffff;

  --filter-bg: #fcfcfc;
  --filter-text: rgba(22, 22, 22, 0.5);
  --filter-text-accent: #161616;
  --filter-border: rgba(22, 22, 22, 0.1);
  --filter-close: rgba(22, 22, 22, 0.05);
}
