.pageContainer {
  background: linear-gradient(to bottom, var(--white), var(--pale-green));
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.formBlock {
  background-color: var(--very-dark-grey);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 335px;

  position: relative;
}

.linksContainer {
  display: flex;
  justify-content: flex-start;
  gap: 14px;
  margin-bottom: 40px;
  width: 100%;
}

.formLink {
  color: var(--almost-grey);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.formLink:hover,
.formLink:focus {
  color: var(--white);
}

.activeLink {
  color: var(--white);
}

.passwordContainer {
  width: 100%;
  margin-bottom: 24px;
  position: relative;
}

.passwordBlock {
  position: relative;
}

.formInput {
  display: inline-flex;
  padding: 14px 18px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--pale-green);
  opacity: 0.4;
  background: var(--charcoal);
  box-shadow: 0px 4px 16px 0px var(--charcoal-shadow);
  width: 100%;
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  outline: none;
  transition: opacity 0.3s ease, border 0.3s ease;
}

.firstInput {
  margin-bottom: 14px;
}

.formInput:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--charcoal) inset;
  box-shadow: 0 0 0 30px var(--charcoal) inset;
  -webkit-text-fill-color: var(--white);
  caret-color: var(--white);
  transition: background-color 5000s ease-in-out 0s;
}

.formBlock .formInput:focus,
.formBlock .formInput:hover,
.formBlock .formInput:active {
  opacity: 1;
}

.iconButton {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  width: 18px;
  height: 18px;
  stroke: var(--almost-grey);
}

.icon:hover,
.icon:focus {
  stroke: var(--soft-gray);
}

.errorEmail {
  color: var(--soft-pink);
  text-align: left;
  display: block;
  width: 75%;
  font-size: 11px;
  position: absolute;
  top: 40.5%;
  left: 43px;
  transform: translateY(-50%);
  z-index: 100;
}

.errorPassword {
  color: var(--soft-pink);
  text-align: left;
  display: block;
  width: 75%;
  font-size: 11px;
  position: absolute;
  top: 114%;
  left: 18px;
  transform: translateY(-50%);
  z-index: 100;
}

.formBottom {
  background-color: var(--pale-green);
  border: none;
  padding: 14px;
  cursor: pointer;
  border-radius: 8px;
  color: var(--almost-black);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
  transition: opacity 0.3s ease, border 0.3s ease;
  width: 100%;
}

.formBottom:hover,
.formBottom:focus {
  background-color: var(--fresh-green);
}

.formBottom:disabled {
  background-color: var(--soft-gray);
  cursor: not-allowed;
}

.googleBtn {
  background-color: var(--pale-green);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: var(--almost-black);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
  transition: opacity 0.3s ease, border 0.3s ease;
  width: 100%;
  margin-top: 14px;
}

.customGoogleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--pale-green);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: var(--almost-black);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  transition: opacity 0.3s ease, border 0.3s ease;
}

.customGoogleBtn:hover,
.customGoogleBtn:focus {
  background-color: var(--fresh-green);
}

.customGoogleBtn:disabled {
  background-color: var(--soft-gray);
  cursor: not-allowed;
}

.googleIcon {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .formBlock {
    width: 424px;
  }
}
