.themeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  position: relative;
}

.themeLabel {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrowIcon {
  width: 20px;
  height: 20px;
  stroke: var(--text-primary);
  display: flex;
  gap: 4px;
  fill: var(--background-paper);
}

.dropdownMenu {
  display: flex;
  padding: 18px 44px 18px 18px;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px;
  background-color: var(--background-paper);
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px var(--modal-overlay);
  z-index: 10;
  border: 1px solid var(--primary-main);
}
.themeText {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  color: var(--drop-down-text);
}
