.screenPage {
  height: 100vh;
  background-color: var(--bg-screen);
  height: calc(100vh - 60px);
  /* padding: 0; */
}

@media (min-width: 768px) {
  .screenPage {
    height: calc(100vh - 68px);
  }
}

/* @media screen and (min-width: 768px) {
  .screenPage {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .screenPage {
    padding: 0 24px;
  }
} */
