.screenPage {
  width: calc(100vw - 260px);
  overflow-x: scroll;
  height: 100vh;
  background-color: var(--bg-screen);
  height: calc(100vh - 60px);
}

@media (min-width: 768px) {
  .screenPage {
    padding: 18px 32px;
    height: calc(100vh - 68px);
  }
}
