.wrapper {
  display: flex;
  gap: 18px;
  padding: 20px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 14px;
}

.button {
  /* min-width: 287px; */
  max-width: 336px;
  width: 100%;
  height: 56px;
  /* height: 100px; */
  flex-shrink: 0;
  padding: 14px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--background-default);
}

.icon {
  padding: 7px;
  background-color: var(--text-primary);
  border-radius: 6px;
  stroke: var(--background-default);
}

.text {
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
}
