.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 18px 20px; 
  height: 60px;
  background-color: var(--background-default);
  z-index: 999;
}

.headerContainer {
  display: flex;
  align-items: center; 
  width: 100%; 
}

.menuIcon {
  cursor: pointer; 
  font-size: 24px; 
  color: var(--text-primary); 
  display: flex;
}

.arrowIcon {
  width: 16px; 
  height: 16px; 
  color: var(background-default)
}

.userInfo {
  display: flex;
  align-items: center; 
}

.userAvatar {
  width: 100%; 
  border-radius: 50%; 
  margin-left: 8px; 
  display: flex;
  align-items: center;
}

.userName {
  color: var(--text-primary);
  font-size: 16px; 
  margin-left: 14px;
}
@media (min-width: 769px) and (max-width: 1440px) {
  .container {
    padding: 0 148px;
    max-width: 768px;
  }
  .header {
    padding: 18px 32px; 
    height: 68px;

  
}}

@media (min-width: 1440px) {
  .container {
    padding: 0 484px;
    max-width: 1440px;
  }
}

  
