.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  height: 60px;
  background-color: var(--background-paper);
}

.menuIconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.menuIcon {
  width: 32px;
  height: 32px;
  stroke: var(--text-primary);
}

.userBox {
  display: flex;
  align-items: center;
  gap: 14px;
}

@media (min-width: 768px) {
  .header {
    padding: 18px 32px;
    height: 68px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding-right: 24px;
  }

  .menuIcon {
    display: none;
  }
}
