.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-paper);
  color: #ffffff;
  padding: 10px 20px;
  /* border-bottom: 2px solid #4caf50; */
  height: 68px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menuIcon {
  cursor: pointer;
  font-size: 24px;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.userName {
  font-size: 16px;
}
