.sidebar {
  width: 225px;
  height: 100vh;
  background-color: var(--deep-charcoal);
  color: var(--white);
  padding: 14px 14px 24px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.logoBox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 70px;
}

.logoIcon {
  fill: var(--white);
  width: 32px;
  height: 32px;
}

.title {
  color: var(--white);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
}

.subTitle {
  color: rgba(255, 255, 255, 0.5); /* додати колір в змінні */
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

.createBoardBox {
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.1); /* додати колір в змінні */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* додати колір в змінні */
  margin-bottom: 40px;
}

.text {
  width: 76px;
  color: var(--white);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.addButton {
  width: 40px;
  height: 36px;
  background-color: var(--pale-green);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusIconBtn {
  width: 20px;
  height: 20px;
  stroke: var(--deep-charcoal);
}

.boardList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: -14px;
  margin-right: -14px;
  overflow-y: auto;
  flex-grow: 1;
}
.boardItem {
  display: flex;
  justify-content: space-between;
  background: var(--charcoal);
  padding: 0 14px;
  height: 61px;
}

.titleBox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.titleBoxIcon {
  width: 18px;
  height: 18px;
  fill: var(--white);
}

.titleBoxTitle {
  color: var(--white);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.btnBox {
  display: flex;
  gap: 8px;

  &::after {
    content: '';
    width: 4px;
    height: 61px;
    background-color: var(--pale-green);
    border-radius: 4px 0 0 4px;
    margin-right: -14px;
  }
}

.btnBoxButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: transparent;
  outline: transparent;
}

.btnBoxIcon {
  width: 16px;
  height: 16px;
  stroke: rgba(255, 255, 255, 0.5); /* додати колір в змінні */
}

.helpBox {
  background-color: var(--charcoal);
  border-radius: 8px;
  padding: 15px;
  margin: 24px 0 0 0;
}

.plantImg {
  width: 54px;
  height: 78px;
  margin-bottom: 14px;
}

.helpBoxText {
  color: var(--white);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.24px;

  & span {
    color: var(--pale-green);
  }
}

.helpButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  gap: 8px;
  color: var(--white);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
  padding: 0;
  margin-top: 18px;
}

.helpBtnIcon {
  width: 20px;
  height: 20px;
  stroke: var(--white);
}

.logoutButton {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-left: 10px;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  padding: 0 0 0 10px;
  margin-top: 24px;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logoutBtnIcon {
  stroke: var(--pale-green);
  width: 32px;
  height: 32px;
}

@media (min-width: 768px) {
  .sidebar {
    width: 260px;
    padding: 24px;
  }

  .logoBox {
    margin-bottom: 60px;
  }

  .boardList {
    margin-left: -24px;
    margin-right: -24px;
  }

  .boardItem {
    padding: 0 24px;
  }

  .btnBox {
    &::after {
      margin-right: -24px;
    }
  }

  .helpBox {
    margin: 24px 0 0 0;
    padding: 20px;
  }

  .helpBoxText {
    font-size: 14px;
    letter-spacing: -0.28px;
  }

  .helpButton {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
}
