.boardList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: -14px;
  margin-right: -14px;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
}

.boardList::-webkit-scrollbar {
  display: none;
}

.boardItem {
  display: flex;
  justify-content: space-between;
  padding: 0 14px;
  min-height: 61px;
  cursor: pointer;
  position: relative;
  background-color: var(--background-default);
}

.activeBoard {
  background: var(--accent-sidebar);

  &::after {
    position: absolute;
    content: '';
    width: 4px;
    height: 61px;
    background-color: var(--hover-sidebar-element);
    border-radius: 4px 0 0 4px;
    right: 0;
  }
}

.titleBox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.titleBoxTitle {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  color: var(--drop-down-text);
}

.titleBoxTitleActive {
  color: var(--text-primary);
}

.btnBox {
  display: flex;
  gap: 8px;
}

.btnBoxButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: transparent;
  outline: transparent;
}

.btnBoxIcon {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: var(--board-icons);
}

@media (min-width: 768px) {
  .boardList {
    margin-left: -24px;
    margin-right: -24px;
  }

  .boardItem {
    padding: 0 24px;
  }
}

@media (min-width: 1440px) {
}
