.wrapper {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: var(--bg-empty-board);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: var(--text-primary);
  opacity: 0.5;
  max-width: 335px;
  text-align: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

.span {
  color: var(--accent-empty-board);
  cursor: pointer;
}

@media (min-width: 768px) {
  .text {
    max-width: 486px;
    font-size: 14px;
    line-height: 1.29;
  }

  .wrapper {
    height: calc(100vh - 68px);
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: calc(100vx-260px);
  }
}
