.logoutButton {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-left: 10px;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  padding: 0 0 0 10px;
  margin-top: 24px;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  &:hover {
    color: var(--fresh-green);
  }

  &:hover .logoutBtnIcon {
    stroke: var(--fresh-green);
  }

  & span {
    color: var(--accent-sidebar-color);
  }
}

.logoutBtnIcon {
  stroke: var(--pale-green);
  width: 32px;
  height: 32px;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
}
