.logoutButton {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-left: 10px;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  padding: 0 0 0 10px;
  margin-top: 24px;
  color: var(--logout-text);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s ease;
}

.logoutButton:hover {
  & .logoutBtnIcon {
    stroke: var(--logout-icon-hover);
  }
}

.logoutBtnIcon {
  fill: transparent;
  stroke: var(--logout-icon);
  width: 32px;
  height: 32px;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
}
