@import 'modern-normalize';
@import '@fontsource/poppins';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';

/* Regular */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/fonts/Poppins-Regular.woff') format('woff'),
    url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.woff2') format('woff2'),
    url('/fonts/Poppins-Medium.woff') format('woff'),
    url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('/fonts/Poppins-SemiBold.woff') format('woff'),
    url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  --white: #ffffff;
  --off-white: #FCFCFC;
  --lightest-grey: #F6F6F7;
  --light-grey: #E8E8E8;
  --very-dark-grey: #151515;
  --backdrop: rgba(21, 21, 21, 0.3);
  --almost-black: #161616;
  --deep-charcoal: #121212;
  --charcoal: #1F1F1F;
  --soft-pink: #E09CB5;
  --pale-green: #BEDBB0;
  --fresh-green: #9DC888;
  --pale-lavender: #ECEDFD;
  --lavender: #B8BCFD;
  --lavender-blue: #979CEA;
  --periwinkle: #7B7EDE;
  --soft-blue: #8FA1D0;
  --bold-blue: #5255BC;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Mobile screen */
.container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 375px;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
    max-width: 768px;
  }
}

/* Desctop screen */
@media screen and (min-width: 1440px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
    max-width: 1440px;
  }
}

button {
  background-color: #bedbb0;
  border: none;
  color: #161616;
  padding: 14px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}
