@import 'modern-normalize';

/* Poppins Regular */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/fonts/Poppins-Regular.woff') format('woff'),
    url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Poppins Medium */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.woff2') format('woff2'),
    url('/fonts/Poppins-Medium.woff') format('woff'),
    url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Poppins SemiBold */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('/fonts/Poppins-SemiBold.woff') format('woff'),
    url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Open Sans Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('/fonts/OpenSans-Regular.woff') format('woff'),
    url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Open Sans Medium */
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Medium.woff2') format('woff2'),
    url('/fonts/OpenSans-Medium.woff') format('woff'),
    url('/fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Open Sans SemiBold */
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('/fonts/OpenSans-SemiBold.woff') format('woff'),
    url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  --white: #ffffff;
  --off-white: #fcfcfc;
  --almost-grey: rgba(255, 255, 255, 0.3);
  --half-white: rgba(255, 255, 255, 0.5);
  --lightest-grey: #f6f6f7;
  --soft-gray: rgba(136, 130, 130, 0.3);
  --light-grey: #e8e8e8;
  --charcoal-shadow: rgba(22, 22, 22, 0.08);
  --charcoal-veil: rgba(22, 22, 22, 0.4);
  --very-dark-grey: #151515;
  --backdrop: rgba(21, 21, 21, 0.3);
  --almost-black: #161616;
  --charcoal-haze: rgb(22, 22, 22, 0.5);
  --deep-charcoal: #121212;
  --charcoal: #1f1f1f;
  --soft-pink: #e09cb5;
  --pale-green: #bedbb0;
  --soft-green-mist: rgba(190, 219, 176, 0.4);
  --fresh-green: #9dc888;
  --pale-lavender: #ecedfd;
  --lavender: #b8bcfd;
  --lavender-blue: #979cea;
  --periwinkle: #7b7ede;
  --soft-blue: #8fa1d0;
  --bold-blue: #5255bc;

  --transition-time: 300ms;
  --transition-func: ease-in-out;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', 'Open Sans', sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-paper);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Mobile screen */
.container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 375px;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
    max-width: 768px;
  }
}

/* Desktop screen */
@media screen and (min-width: 1440px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
    max-width: 1440px;
  }
}

button {
  background-color: #bedbb0;
  border: none;
  color: #161616;
  padding: 14px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  transition: all var(--transition-time) var(--transition-func);
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(50px); 
  opacity: 0; 
  transition: transform 500ms ease-out, opacity 500ms ease-in-out; 
}

.ReactModal__Content--after-open {
  transform: translate(-50%, -50%) translateY(0);
  opacity: 1;
}

.ReactModal__Content--before-close {
  transform: translate(-50%, -50%) translateY(50px); 
  opacity: 0;
}

