.taskList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 280px;
    height: 478px;
    overflow-y: auto;
    flex-grow: 0;
    padding-right: 4px;
}

.taskList::-webkit-scrollbar {
    width: 8px;
}

.taskList::-webkit-scrollbar-thumb {
    width: 8px;
    max-height: 142px;
    background-color: var(--bg-scroll);
    border-radius: 12px;
}

.taskList::-webkit-scrollbar-track {
    width: 8px;
    max-height: 478px;
    background-color: var(--bg-scroll-track);
    border-radius: 12px;
}

@media screen and (min-width: 375px) {
    .taskList {
        max-width: 350px;
    }
}